/*PER LA PAGINA DI LOGIN*/ 

.card{
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 27px;
    width:75%;
    height:auto;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  @media screen and (max-width:991px){
    .card{
      width: 100%;
      height:100%;
    }

    .page-content{
      width:100vw;
      height:100vh;
      background-size:cover;
      background-position: center;
    }

    .bottone1{
      width:100%;
      height:100%;
    }

    .bottone2{
      width:100%;
      height:100%;
      margin-left:10%;
    }

    .bottone1 h4{
      font-size: 1em;
    }

    .bottone2 h4{
      font-size: 0.8em;
    }
    
  }

  @media screen and (max-width:778px){
    .card{
      width: 100%;
      height:100%;
    }

    .bottone1{
      width:100%;
      height:100%;
    }

    .bottone2{
      width:100%;
      height:100%;
    }

    .bottone1 h4{
      font-size: 0.9em;
    }

    .bottone2 h4{
      font-size: 0.7em;
    }
  
  }

  @media screen and (max-width:576px){
    .card{
      width: 60%;
      height:100%;
    }

    .bottone1{
      width:100%;
      height:100%;
    }

    .bottone2{
      width:100%;
      height:100%;
    }

    .bottone1 h4{
      font-size: 0.6em;
    }

    .bottone2 h4{
      font-size: 0.5em;
    }
  
  }
  
  .card-under-header{
    margin-top: 5%;
    font-size:1.4rem; 
    text-align: center;
    animation: cambiaColore 1.5s ease infinite alternate;
  }

  .franco{
    font-size:2rem;
    font-family:Arial, Helvetica, sans-serif;
  }

  @keyframes cambiaColore {
    from {
        color: rgb(255, 255, 255);
    }
    to {
        color:#7E5E47;
    }
  }

  #login-video{
    width: 100%;
    height: 100%;
    position:absolute;
    object-fit: cover;
    left:0;
    right:0;
    top: 0;
    bottom:0;
    z-index: -1; /* ti mette il video in background*/
  }
  
  .form-control{
    background: transparent;
    background-color:rgba(226,223,213,0.5);
    border-color: wheat;
    border-radius: 50px;
  }
  
  .remember-me{
    display: block;
    position:relative;
    padding-left:35px;
    margin-bottom: 12px;
    padding-top:10px;
    font-style: italic;
  }
  
  .checkbox input{
    position: absolute;
    opacity:0;
  }

  .checkmark{
    position:absolute;
    left:0;
    height: 25px;
    width: 25px;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
    cursor:pointer;
  }

  .remember-me:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .remember-me input:checked ~ .checkmark {
    background-color:#7E5E47;
  }

  .remember-me input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after{
    content:"";
    position:absolute;
    display: none;
  }

  .remember-me .checkmark:after{
    top:9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  
  .btn-primary{
    border-radius: 50px;
  }

  .btn-primary.accedi{
    margin-right: 10px;
  }
  
  .under-login-btn{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    -webkit-text-stroke-width: 0.5px; /* Larghezza del bordo */
    -webkit-text-stroke-color:black; /* Colore del bordo */
    color:black;
  }

  .under-login-btn a{ /* colore del link al registrati */
    color:ivory; 
  }

  .under-login-btn a:hover{
    color:bisque; 
  }

  .form-group{
    color:blanchedalmond;
  }

  .page-content{
    width:100vw;
    height:100vh;
    background-image: url("../img/bg-login.jpg");
    background-size:cover;
    background-position: center;
  }

  .login-container{
    display:flex;
    justify-content: center;
    padding-top:15%;
    padding-bottom:10%;
  }

  .bottone1{
    width:100%;
    height:100%;
    display: flex;
    border:10px;
    border-radius: 10px;
    background-color:#7e470b;
  }

  .bottone1:hover{
    background-color: #C7B8A3;
  }

  .bottone1 h4{
    color:#fff;
  }

  .bottone1 h4:hover{
    color:darkcyan;
  }

  .bottone2{
    width:100%;
    height:100%;
    display:flex;
    border:10px;
    border-radius: 10px;
    background-color:#C7B8A3;
  }

  .bottone2:hover{
    background-color: #7e470b;
    color:#fff;
  }

  .bottone2 h4{
    color:#fff;
  }

  .bottone2 h4:hover{
    color:darkcyan;
  }


  .bottone1,.bottone2{
    width:6.9vw;
    height:7vh;
    margin:5px;
    justify-content: center;
    align-items: center;
    padding-top:5%;
    margin-top: -10%;
  }

  
