*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carrello {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 9%;
    padding-bottom: 4%;
}

.card-carrello {
    width: 80%;
    height: 100%;
    display: flex;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

/* SEZIONE CARRELLO (SX)*/
.div-carrello {
    flex: 70%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.div-carrello h2 {
    font-size: 2.5rem;
    margin-top: 2%;
    margin-left: 5%;
}

.container-carrello {
    margin-top: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border-bottom: 2px solid rgba(33, 34, 34, 0.2);
    height: 60%;

    overflow-y: auto;  /*aggiunta 27/05*/
}

.tabella {
    width: 100%;
    border-collapse: collapse;
}

.tabella th,
.tabella td {
    padding: 1%;
    text-align: left;
}

.tabella-head {
    background-color: transparent;
}

.tabella-head th {
    border-bottom: 2px solid rgba(33, 34, 34, 0.2);
    font-size: 0.9rem;
    font-weight: 500;
}

.tabella tbody tr:nth-child(even) {
    background-color: transparent;
}

.tabella tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.prod {
    width: 45%;
}

.tabella img {
    width: 12%;
}

.nome-item {
    font-size: 1.1rem;
    padding-left: 7%;
}

.quantita-container {
    display: flex;
    align-items: center;
}

.quantita {
    text-align: center;
}

.quantita-container .icona {
    color: rgba(33, 34, 34, 0.7);
    font-size: 20px;
    cursor: pointer;
    padding: 0 7px;
}

.quantita-container .icona:hover {
    color: rgba(33, 34, 34, 1);
}

.quantita-container input {
    text-align: center;
    border: none;
    width: 20px;
    font-size: 16px;
    margin: 0 5px;
    background-color: transparent;
    outline: none;
    -moz-appearance: textfield;
    /* Per rimuovere le frecce in Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Per rimuovere le frecce in WebKit */
}
th .pu{
    width: 25%;
    padding-right: 5%;
}

.prezzo, .subtot{
    font-size: 1rem;
}


.container-rimuovi .icona {
    color: rgba(33, 34, 34, 0.7);
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
}

.container-rimuovi .icona:hover {
    color: rgba(33, 34, 34, 1);
}

.totale-carrello {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.div-sx,
.div-dx {
    flex: 1;
    display: flex;
    align-items: center;
}

.div-sx {
    justify-content: flex-start;
}

.div-dx {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.totale-carrello a {
    color: #212222;
    font-size: 1.2rem;
    font-weight: 400;
}

.totale-carrello a:hover {
    color: #987b65;
}

.subtotale {
    border-bottom: 2px solid rgba(33, 34, 34, 0.2);
    height: 80%;
    text-align: right;
}

.tabella-totale td {
    padding: 5px 20px;
    color: rgba(33, 34, 34, 0.8);
    font-size: 1rem;
}

.totale {
    display: flex;
    justify-content: flex-end;
    padding-top: 3%;
    margin-right: 3%;
}

.totale h4 {
    margin: 0;
    font-size: 1.3rem;
}



/*SEZIONE CHECKOUT (DX)*/
.checkout {
    flex: 30%;
    height: 100%;
    margin: auto;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;
    position: relative;
    background-color: rgb(224, 219, 209);
}

.checkout h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-label {
    margin-left: 10px;
}

.form-check-input:checked {
    background-color: #7e5e47;
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.hidden {
    display: none;
}

.btn-block {
    width: 100%;
    padding: 10px;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.checkout-button {
    position: sticky;
    padding: 0;
    width: 100%;
    padding-top: 20px;
}

.form-control {
    background-color: rgba(233, 231, 223, 1);
    border-color: transparent;
}

.form-control:focus {
    background-color: rgb(245, 243, 235);
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.checkout-button .btn-primary {
    background-color: #a58e76;
    border-color: transparent;
}

.checkout-button .btn-primary:hover {
    background-color: #7e5e47;
    border-color: transparent;
}

.paypal-button .btn-primary {
    background-color: #3b7bbf;
    border-color: transparent;
}

.paypal-button .btn-primary:hover {
    background-color: #1e477a;
    border-color: transparent;
}

@media screen and (max-width: 991px) {
    .carrello {
        height: 200vh;
    }
    .card-carrello {
        width: 100%;
        flex-direction: column;
    }
    .div-carrello,
    .checkout {
        flex: 100%;
    }
    .checkout {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-top: 20%;
        padding-bottom: 40%;
        width: 100%;
    }
    .quantita-container .icona {
        font-size: 18px;
        padding: 0 5px;
    }
}
@media screen and (max-width: 768px) {
    .carrello {
        height: 200vh;
    }
    .tabella-head th {
        font-size: 0.7rem;
        font-weight: 500;
    }
    .nome-item{
        font-size: 0.9rem;
    }
    .quantita-container input {
        width: 10px;
        font-size: 15px;
        margin: 0 2px;
    }
    .prezzo, .subtot{
        font-size: 0.7rem;
    }
    .prod{
        width: 30%;
    }
    .div-sx{
        margin-right: 5%;
    }
    .totale-carrello a {
        font-size: 0.9rem;
    }
    .tabella-totale td {
        font-size: 0.8rem;
    }
    .checkout{
        height: 200vh;
    }
}
@media screen and (max-width: 576px) {
    .carrello{
        height: 180vh;
    }
}