*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    font-size: 1.2rem;
    line-height: 1.3;
}
a:hover{
    color: #7e5e47;
}
/*SEZIONE LANDING*/
.landing {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    background-color: rgb(233, 231, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.landing .container {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}
.landing .container h1 {
    font-size: 3.7rem;
    line-height: 0.9;
}
.landing .container p {
    font-size: 1.2rem;
    line-height: 1.3;
}

/*SEZIONE SPIEGONE*/
.spiegone {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.spiegone .corpo, .acido{
    width: 100%;
    height: 40vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 219, 209); 
}
.spiegone .corpo{
    border-radius: 50px 50px 0 0;
}
.corpo img{
    position: relative;
    padding-left: 5%;
    width: 30%;
}
.corpo .testo{
    padding-left: 7%;
    padding-right: 7%;
}
.testo h1{
    font-size: 3.7rem;
    line-height: 0.9;
}
.testo p{
    font-size: 1.2rem;
    line-height: 1.3;
}
.acido img{
    position: relative;
    padding-right: 5%;
    width: 35%;
}
.acido .testo{
    padding-left: 7%;
    padding-right: 7%;
}
.spiegone .g-r-container{
    width: 100%;
    height: 40vh; 
    display: flex;
}
.spiegone .g-r{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(224, 219, 209); 
}
.spiegone .g-r-margin{
    border-right: 2px inset #7e5e47;
}

/*SEZIONE SELEZIONE*/
.selezione {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: rgb(233, 231, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
.selezione .img-divisore {
    position: relative;
    width: 25%;
    left: 13%;
    margin-top: 1%;
    transform: translate(-50%, -50%);
}
.selezione .container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selezione .container h1 {
    font-size: 3.7rem;
    line-height: 0.9;
}

.selezione .container p {
    font-size: 1.2rem;
    line-height: 1.3;
}
.selezione .filtri {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
}
.filtri-label {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 500;
    font-style: normal;
    color: #212222;
    padding-right: 5%;
}





/*CORPOSITA*/
.selezione .corposita {
    display: flex;
}
.corposita-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.corposita-button {
    padding: 10px 20px;
    border-radius: 15px;
    color: #343a40;
    border: transparent;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.corposita-button:hover {
    background-color: #a58e76;
}
.corposita-button.active {
    background-color: #7e5e47;
    color: #fff;
    border-color: #7e5e47;
}





/*ACIDITA*/
.selezione .acidita {
    display: flex;
    padding-top: 2.5%;
}
.acidita-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.acidita-button {
    padding: 10px 20px;
    border-radius: 15px;
    color: #343a40;
    border: transparent;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.acidita-button:hover {
    background-color: #a58e76;
}
.acidita-button.active {
    background-color: #7e5e47;
    color: #fff;
    border-color: #7e5e47;
}





/*GUSTI*/
.selezione .gusti {
    display: flex;
    padding-top: 2.5%;
}
.gusti-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.gusti-button {
    position: relative;
    border: none;
    background: none;
    padding: 0;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    border: 2px transparent;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}
.gusti-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    /* Cambia il colore del testo come desiderato */
    background: transparent;
    /* Sfondo semi-trasparente per migliorare la leggibilità */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    /* Cambia la dimensione del testo come desiderato */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.gusti-button img {
    display: block;
    width: 100px;
    height: auto;
}
.gusti-button:hover {
    background-color: #c7b8a3;
}
.gusti-button:hover>img {
    display: block;
    width: 100px;
    height: auto;
    opacity: 0.6;
}
.gusti-button:hover>.gusti-text {
    color: white;
    background: rgba(126, 93, 71, 0.9);
}
.gusti-button.active {
    background-color: #7e5e47;
    color: #fff;
    border: 5px #7e5e47;
}
.gusti-button.active>img {
    display: block;
    width: 100px;
    height: auto;
    opacity: 0.6;
}
.gusti-button.active>.gusti-text {
    color: white;
    background: rgba(126, 93, 71, 0.9);
}




/*RETROGUSTI*/
.selezione .retrogusti {
    display: flex;
    padding-top: 2.5%;
}
.retrogusti-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.retrogusti-button {
    position: relative;
    border: none;
    background: none;
    padding: 0;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    border: 2px transparent;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}
.retrogusti-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    /* Cambia il colore del testo come desiderato */
    background: transparent;
    /* Sfondo semi-trasparente per migliorare la leggibilità */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    /* Cambia la dimensione del testo come desiderato */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.retrogusti-button img {
    display: block;
    width: 100px;
    height: auto;
}
.retrogusti-button:hover {
    background-color: #c7b8a3;
}
.retrogusti-button:hover>img {
    display: block;
    width: 100px;
    height: auto;
    opacity: 0.6;
}
.retrogusti-button:hover>.retrogusti-text {
    color: white;
    background: rgba(126, 93, 71, 0.9);
}
.retrogusti-button.active {
    background-color: #7e5e47;
    color: #fff;
    border: 5px #7e5e47;
}
.retrogusti-button.active>img {
    display: block;
    width: 100px;
    height: auto;
    opacity: 0.6;
}
.retrogusti-button.active>.retrogusti-text {
    color: white;
    background: rgba(126, 93, 71, 0.9);
}

/*PULSANTE*/
.selezione .btn {
    margin-top: 2%;
    color: #343a40;
    border-color: transparent;
    background-color: #c7b8a3;
}
.selezione .btn:hover {
    color: #fff;
    background-color: #7e5e47;
    border-color: #7e5e47;
    cursor: pointer;
}


/* RISULTATI */
#risultati {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

}
.risultato{
    width: 100%;
    font-size: 1.2rem;
}
.acquista-button {
    background-color: #c7b8a3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.acquista-button:hover {
    background-color: #a58e76;
}
.acquista-button:active {
    background-color: #7e5e47;
}
.risultato-negativo{
    width: 100%;
    font-size: 1.2rem;
}
.pulsante-ris-neg{
    background-color: #c7b8a3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.pulsante-ris-neg:hover{
    background-color: #a58e76;
}
.pulsante-ris-neg:active{
    background-color: #7e5e47;
}



/*---------------------------------------*/
/*---------------------------------------*/
/*            SEZIONE CREA               */
/*---------------------------------------*/
/*---------------------------------------*/
.crea{
    background-color: rgb(224, 219, 209); 
}
.crea-intestazione{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-on-drag-item{
    cursor: default;
}
.caffe-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.caffe-item img:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.caffe-item img {
    width: 100px;
    height: 100px;
    cursor: move; /* fallback se il cursore grab non è supportato */
    cursor: grab;
    cursor: -moz-grab;     /* imposta il cursore grab quando si trova sull'immagine*/
    cursor: -webkit-grab;
}
.caffe-item img:active{
    cursor: grabbing;
    cursor: -moz-grabbing; /* imposta il cursore grabbing quando trascina l'immagine*/
    cursor: -webkit-grabbing;
}
.drop-zone-container {
    display: flex;
    justify-content: center;
}
.drop-sx{
    width: 25vw;
    padding-top: 5%;
    padding-right: 2.5%;
}
.drop-dx{
    width: 25vw;
    padding-top: 5%;
    padding-left: 2.5%;
}
.drop-zone{
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px dashed #c7b8a3;
    margin: 20px;
    position: relative;
}
.drop-zone img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.slider {
    width: 75%;
    margin-top: 10px;
}
.crea .container {
    text-align: center;
    margin-top: 20px;
}
.submit-button {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px 20px;
    background-color: #c7b8a3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #a58e76;
}
.submit-button:active {
    background-color: #7e5e47;
}