@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

/*SECTION MAIN*/
.main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2,.49,.32,.99);
    /*sul sito cubic-bezier.com -> per creare una funzione custom*/
}
.bg-img{
    position: absolute;
    width: 1950px;                      /* MODIFICA DIMENSIONI QUI*/
    top: calc(50% + 50px);              /* aggiungi o sottrai valori per posizionare la foto */
    left: calc(50%);                    /*    stessa cosa        */   
    z-index: 1;
}
.bg-img-07{
    position: absolute;
    width: 1850px;                      
    top: calc(50% + 50px);              
    left: calc(50%);                     
    z-index: 2;
}
.bg-img-06{
    position: absolute;
    width: 1850px;                      
    top: calc(50% + 50px);              
    left: calc(50%);                     
    z-index: 3;
}
.main-text{
    position: absolute;
    top: calc(50% - 50px);              
    left: calc(50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;
    z-index: 4;
}
.main-text h1{
    font-size: 6.5rem;
    font-weight: 800;
    line-height: 0.88;
    color: #fff;
}
.bg-img-05{
    position: absolute;
    width: 1850px;                      
    top: calc(50% + 50px);              
    left: calc(50%);                     
    z-index: 5;
}
.bg-img-04{
    position: absolute;
    width: 2000px;                      
    top: calc(50% + 50px);              
    left: calc(50% - 80px);                    
    z-index: 6;
}
.bg-img-03{
    position: absolute;
    width: 2000px;                      
    top: calc(50% + 50px);              
    left: calc(50%);                    
    z-index: 7;
}
.bg-img-02{
    position: absolute;
    width: 1850px;                      
    top: calc(50% + 60px);              
    left: calc(50% - 10px);                    
    z-index: 8;
}
.fg-img{
    position: absolute;
    width: 1850px;                      
    top: calc(50% + 50px);              
    left: calc(50%);                    
    z-index: 9;
}

.start-animation {
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: transparent; /* Assicurati che lo sfondo sia trasparente per vedere il parallasse dietro */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px) {
    .text h1{
        font-size: 4rem;
        line-height: 0.88;
    }
}
@media (max-width: 725px) {
    .text h1{
        font-size: 2.7rem;
        line-height: 0.7;
    }
}
@media (max-width: 520px) {
    .text h1{
        font-size: 2.3rem;
        line-height: 0.7;
    }
}