.page-content-login{
  padding-top:none;
}
.container-login{
    height:fit-content;
}

.login-container{
    margin-top: 12%;
    margin-bottom: 15%;
  }

#login-video-register{
    width: 100%;
    height:180%;
    position:absolute;
    object-fit: cover;
    left:0;
    right:0;
    top: 0;
    bottom:0;
    z-index: -5; /* ti mette il video in background*/
}

.card-body{ /* per metter in modo griglia*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1.5rem
}

.form-group input{ /* per le caselle di input*/
  display: flex;
  flex-direction: column;
  margin:0 auto;
  width: 105%; /* Aggiusta questa percentuale secondo le tue necessità */
  box-sizing: border-box;
  font-style:oblique;
}

.form-group label{ /* per le etichette*/
  width:98%;
  margin-right:10px;
  text-align:center;
  padding:2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-under-header{ /* per il titolo della registrazione*/
  font-family:garamond;
  font-style: normal;
  font-size: 29px;
}

.btn-login{
  padding-top: 28px;
}

