.welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 9%;
    padding-left: 2.5%;
}

.contenuto-sx {
    display: flex;
    height: 70vh;
    width: 20vw;
}

.contenuto-dx {
    padding-left: 5%;
    padding-right: 25%;
    display: flex;
    height: 70vh;
    width: 90vw;
}


.bi-person-circle {
    padding-right: 30%;
}

.bi-house-check-fill {
    padding-right: 28%;
}

.bi-cash-coin {
    padding-right: 23%;
}

.bi-gear-wide-connected {
    padding-right: 21%;
}

.bi-box-arrow-left{
    padding-right:55%;
}


td {
    padding-left: 5%;
}

th {
    /* INTESTAZIONE E FOOT*/
    height: auto;
    border: 1px solid #ddd;
    padding: 3px;
    display: flex;
    justify-content: center;
    background-color: #7E5E47;
    /* Colore di sfondo dell'intestazione */
    color: blanchedalmond;
    /* Colore del testo dell'intestazione */
    border-radius: 15px;
}

tr:hover {
    border-radius: 25px;
    display: block;
    height: auto;
    background-color: bisque
        /* Colore di sfondo al passaggio del mouse */
}

tr:active {
    border-right: 2px inset red;
}


.riservata{
    padding-left:6%;
}

.logout{
    padding-right:40%;
}

.area {
    width: 255px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
}

.clicked {
    background-color: #D9CCB5;
    color: white;
}

.interno { 
    /*contenitore oggetti, cambia la visualizzazione delle label*/
    width:auto;
    color: #7e5e47;
    display: grid;
    padding-top: 10%;
    padding-left: 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 8rem;
    row-gap: 8rem;
    font-size: 130%;
}

.edit {
    display: grid;
}

.popup, .overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}
.popup {
    border-radius: 20px;
    display: none; /*DA CAMBIARE IN NONE UNA VOLTA MODIFICATO*/
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vh;
    overflow: auto;
    background-color: #a62323; /* Solid color */
    padding: 10px;
    border: 1px solid #888;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content {
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 100%;
    width:100%;
    box-sizing: border-box;
    position: relative;
    z-index: 999;
}
.procedere{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.closed:hover,
.closed:focus {
    color:red;
    text-decoration: none;
    cursor: pointer;
}

#logout {
    cursor: pointer;
}

/* modifica quarto contenuto*/
.interno-quarto {
    margin-top: 15%;
    margin-left: 10%;
    display: block;
    padding: 90px;
}

.input-elimina {
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.elbot{
    background-color:crimson;
    color:white;
    margin-left: 18%;
    width:30%;
    height:100%;
    border-radius: 10px;
}

.elimina{
    width:20vw;
    height:15vh;
}

.oggetti{
    width:150%;
    height:70%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.interni-sx{
    height:min-content;
    width:75%;
    display:flex;
    background-color: rgba(211, 211, 211, 0.837);
    border:0.5px solid lightgrey;
    border-radius:15px;
    padding-top: 3%;
    padding-left: 5%;
}

.interni-dx{
    height:3.7vw;
    width:80%; 
    display:flex;
    background-color: lightgrey;
    border:0.5px solid lightgrey;
    border-radius:15px;
    padding-top: 3.5%;
    padding-left: 6%;
}


.interni-label{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.terzo{
    display: flex;
    width:120vh;
    height:35vw;
    right: 50%;
}

.parte-sx{
    box-shadow: 0 5px 30px rgba(126, 93, 71, 0.8);
    margin-left:5%;
    background: linear-gradient(90deg, #007bff, #00c6ff); /* Gradient background */
    margin-top: 16%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius:10px;
    width:40%;
    height:35%;
    border: 0.5px solid #000;
}

.sezione-contenuto {
    display: none;
    width: 150%;
}

.sezione-contenuto.active {
    display: block;
}
.visa{
    height:30%;
    width:80%;
    margin-left:83%;
    padding-top:3%;
}

.visa h4{
    font-size: 140%;
}

.numeri{
    height:30%;
    width:100%;
    padding-top:2%;
    padding-left: 8%;
}
.valid{
    margin-top:3%;
    width: 23vw;
    height: 4vh;
    display:flex;
    flex-direction: row;
   
}
.valid p{
    font-size: 58%;
}

.thru{
    padding-left: 57%;
}

.holder{
    padding-left: 3%;
}

.mm{
    overflow:hidden;
    display: flex;
    height:3vw;
    width:100%;
    margin-top:-4%;
    flex-direction: row;
}

.parte-dx{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
    border:0.9px solid black;
    border-radius: 10px;
    margin-top: 3%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    padding-top:2%;
    padding-left: 2%;
    padding-right: 2%;
    height:83%;
    width:38%;
}

.titolo h3{
    font-size: 180%;
    font-family:'Times New Roman', Times, serif;
}
.nome-carta{
    padding-top:10%;
}
.numero-carta{
    padding-top:10%;
}

.exp{
    padding-top: 10%;
}

.forma-control{
    margin-top: -2%;
    border-radius: 9px;
    width:100%;
    height:3vw;
}
.exp{
    align-items: center;
    display:flex;
}
.exp-item{
    width:50%;
}

.riga1{
    width:85%;
    height:3vw;
    margin-top: -2%;
    border-radius: 9px;
}

.riga2{
    width:85%;
    height:3vw;
    margin-top: -2%;
    border-radius: 9px;
    margin-left: 15%;
}
.titoli{
    font-size: 110%;
}
.titolo-cvv{
    font-size: 110%;
    padding-left: 15%;
}

.btn{
    margin-top: 3%;
    width:100%;
    display: block;
    border:10px;
    border-radius: 10px;
    background-color:#2a2a2a;
  }

.btn:hover{
    background-color:#d9ccb5;
}

.conferma{
    padding-top: 2%;
    color:wheat;
}
.conferma:hover{
    color:rgb(76, 41, 8);
}

input[type="text"]{
    padding:0 0 0 20px;
}

.proprietario{
    height:200vh;
    width:70%;
    margin-left: 5%;
    font-size: 80%;
}

.data{
    margin-left: 7%;
}
.mese-anno{
    height:100%;
    width:30%;
}

@media screen and (max-width:991px){
    .welcome{
        width:100%;
        height:100%;
        margin-bottom: 15%;
    }

    .contenuto-dx{
        padding-right:20%;
    }

    .parte-sx{
        height:60%;
        width:45%;
    }

    .parte-dx{
        height:120%;
    }

    .proprietario{
        margin-top:3%;
    }

    .thru{
        margin-left: 30%;
    }
    .data{
        margin-top:3%;
    }
    .procedere{
        height:65%;
    }
    
}

@media screen and (max-width:778px){
    .welcome{
        width:100%;
        height:100%;
        margin-bottom: 15%;
    }

    .parte-sx{
        display: none;
        height:30%;
        width:40%;
    }
    .parte-dx{
        height:150%;
        margin-left: 15%;
    }

    .sezione-contenuto{
        margin-right: 20%;
    }

    .interno{
        margin-left: 10%;
        width:50%;
    }
    .procedere{
        height:100%;
    }
    .popup{
        width: 40%;
        height: 40%;
    }

}

@media screen and (max-width:576px){

    .contenuto-sx{
        width:30%;
        margin-top: 10%;
        overflow-x: auto;
    }

    .welcome{
        width:30%;
        height:100%;
        margin-bottom: 15%;
    }

    .parte-sx{
        display: none;
        height:30%;
        width:40%;
    }
    .parte-dx{
        height:150%;
        margin-left: 15%;
    }
    
}

